
<nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/">Filmoteca</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">    
            <li><a>Alto contraste</a></li>
            <li><a>Alto contraste</a></li>
            <li><a>Alto contraste</a></li>
        </ul>
      </div>
    <!-- /.nav-collapse -->
  </div>
  <!-- /.container -->
</nav>
<div class="container-fluid app-container">
  <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
          <nav class="navbar navbar-default" role="navigation">
            <div class="collapse navbar-collapse movies-cat">
              <div class="panel-heading">Categorias</div>
              <ul class="nav nav-stacked">
                <a routerLink="/genres/{{genre.id}}/{{genre.name}}" routerLinkActive="active" class="list-group-item" *ngFor="let genre of genres">{{genre.name}}</a>
              </ul>
            </div>
            <!-- /.navbar-collapse -->
          </nav>
        </div>
    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10">
        <router-outlet></router-outlet>
    </div>
  </div>
  <!--/row-->
  <footer>
    <p>&copy; 2019 Teste de Seleção</p>
  </footer>
</div>