<p class="pull-right visible-xs">
        <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
      </p>
      <div class="jumbotron">
        <p>Busque um filme...</p>
        <form>
          <div class="form-group">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Busque por filmes..." [(ngModel)]="searchStr" name="searchStr" (keyup.enter)="searchMovies()">
              <span class="input-group-btn">
                <button class="btn btn-primary" type="button" (click)="searchMovies()">Procurar!</button>
              </span>
            </div>
            <!-- /input-group -->
          </div>
        </form>
      </div>
      <div *ngIf="searchRes">
        <h3 class="orange-text">Resultados</h3>
        <div class="row is-flex">
          <div class="col-sm-6 col-md-4 col-lg-3 col-xs-6" *ngFor="let movie of searchRes; let i = index;">
            <span class="sr-only">{{movie.title}}</span>
            <movie-item [movie]="movie"></movie-item>
            
          </div>
        </div>
      </div>
      
      <h3 class="orange-text">Mais Votados</h3>
      <div class="row is-flex">
        <div class="col-sm-3" *ngFor="let movie of popularList; let i = index;">
          <span class="sr-only">{{movie.title}}</span>
          <movie-item [movie]="movie"></movie-item>
        </div>
      </div>