<div *ngIf="movies">
    <h3 class="orange-text">{{title}}</h3>
    <div class="row is-flex">
        <div class="col-sm-6 col-md-4 col-lg-3 col-xs-6" *ngFor="let movie of movies; let i = index;">
        <movie-item [movie]="movie"></movie-item>
        </div>
    </div>
</div>