<div class="thumbnail">
        <img src="https://image.tmdb.org/t/p/w300/{{movie.poster_path}}" *ngIf="movie.poster_path">
        <img src="assets/img/abstract-image.jpg" *ngIf="!movie.poster_path">
        <div class="caption">
          <h4 class="text-ellipsis">
            <a routerLink="/movie/{{movie.id}}" title="{{movie.title}}">{{movie.title}}</a>
          </h4>
          <p><strong>Lançamento: </strong>{{movie.release_date}}</p>
          <p>
            <a routerLink="/movie/{{movie.id}}">Detalhes &raquo;</a>
            <small class="label label-success pull-right" *ngIf="movie.vote_average">
              {{movie.vote_average}}
              <i class="glyphicon glyphicon-star"></i>
            </small>
          </p>
        </div>
      </div>