<div class="row" *ngIf="movie">
        <div class="col-md-4">
          <img src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" alt="" class="thumbnail">
          <p>
            <a *ngIf="movie.homepage" href="{{movie.homepage}}" class="btn btn-info btn-block" target="_blank">Site do Filme</a>
          </p>
        </div>
        <div class="col-md-8">
          <span class="sr-only">Titulo</span>
          <h2>{{movie.title}}
          </h2>
          <p>{{movie.tagline}}</p>
          <p>
            <span class="sr-only">Genêros</span>
            <a routerLink="/genres/{{genre.id}}/{{genre.name}}" *ngFor="let genre of movie.genres" class="label label-info m-r-md">
              {{genre.name}}
            </a>
          </p>
          <span class="sr-only">Sinopse</span>
          <h3>Sinopse</h3>
          <p>
            {{movie.overview}}
          </p>
          <!--Casts-->
          <div class="row is-flex" *ngIf="cast && cast.length > 0">
            <div class="col-md-12">
              <h3 class="text-center">Elenco</h3>
            </div>
            <div class="col-md-3" *ngFor="let actor of cast">
              <div class="thumbnail">
                <img src="https://image.tmdb.org/t/p/w500/{{actor.profile_path}}" alt="">
                <div class="caption">
                  <span class="sr-only">Elenco</span>
                  <h6 class="text-center"><a routerLink="/actor/{{actor.id}}">{{actor.name}}</a></h6>
                </div>
              </div >
            </div>
          </div>
          <!--Casts-->
        </div>
      </div>
      <!--Trailer-->
      <span class="sr-only">Trailer</span>
      <div class="row" *ngIf="video">
        <div class="col-md-8 col-md-offset-2">
          <h2>{{video.name}}</h2>
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" [src]="video.url"></iframe>
          </div>
        </div>
      </div>
      <!--Trailer-->
